/* CSS RESET */
* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
    -webkit-font-smoothing: antialiased;
}
/* END CSS RESET */

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 0px 4%;
}
