.botao {
	background-color: #333;
	color: white;
	padding: 8px;
	box-shadow: 2px 2px 1px #aaaaaa;
    border-radius: 10px;
}

.botaoAceitar{
	background-color: #6bae87;
	color: white;
	padding: 5px;
	box-shadow: 2px 2px 1px #aaaaaa;
    border-radius: 2px;
}

.botaoRecusar{
	background-color: #dd7878;
	color: white;
	padding: 5px;
	box-shadow: 2px 2px 1px #aaaaaa;
    border-radius: 2px;
}

.botaoReport{
	background-color: #ffae1a;
	color: white;
	padding: 5px;
	box-shadow: 2px 2px 1px #aaaaaa;
    border-radius: 2px;	
}