html {
    font: 15pt Arial;
}
body {
    background: url('../img/background2.png'); no-repeat top center fixed;
    background-size: cover;
}

div::before {
    content: " CR Galaticos - Master League ";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

div {
    background-color: rgba(255,255,255,.6);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

.botao {
	background-color: #273747;
	color: white;
	padding: 8px;
	box-shadow: 2px 2px 1px #aaaaaa;
    border-radius: 10px;
}

.button3 {
    color: #fff;
    padding: 20px 100px;
    border: none;
    outline: none;
    font-size: 20px;
    text-shadow: -2px 2px 0 rgba(0,0,0,0.2);
    font-weight: 700;
    transition: all .1s linear;
    background: linear-gradient(to bottom,#273747,#273747);
    box-shadow: -1px 0 1px #A72222,0 1px 1px #A72222,-2px 1px 1px #A72222,-1px 2px 1px #A72222,-3px 2px 1px #A72222,-2px 3px 1px #A72222,-4px 3px 1px #A72222,-3px 4px 1px #A72222,-5px 4px 1px #A72222,-4px 5px 1px #A72222,-6px 5px 1px #A72222;
}

.errorMessage {
    color: red;
}

.campoCadastro{
    text-align: right;
    font: 12pt Helvetica;
}

.campoTexto{
    box-shadow: 2px 2px 1px #aaaaaa;
    border-radius: 10px;
    padding-left: 5px;
    font: 10pt helvetica;
}