/* CSS RESET */
* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
    -webkit-font-smoothing: antialiased;
}
/* END CSS RESET */

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 0px 4%;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

h3 {
    font-size: 1em;
}

.campoTexto{
	box-shadow: 2px 2px 1px #aaaaaa;
    border-radius: 10px;
    padding-left: 5px;
    font: 10pt helvetica;
}

.widgetMenu{
    width:21%;
    height:250px;
    float:left;
    border-style:1px solid; 
    border-radius:16px;
    background: rgba(0,0,0, 0.3);
    margin-left:2%;
    margin-top:2%;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}

.widgetMenu:hover{
    background: rgba(0,0,0, 0.2);
}

.widgetMenu:hover .insideWidget{
    color: rgba(0,0,0, 0.2);
}