.menu {
    background-color: #333;
    color: #FFF;
    min-height: 50px;
    line-height: 50px;
    font-size: 14px;
    position: fixed;
    width: 92%;
    z-index: 1000;
}

.menu__items {
    position: relative;
    float: right;
}

.menu__items li {
    display: inline;
    margin-right: 1em;
}

.menu__items li:last-child {
    margin-right: 0;
}