<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Master League - CR Galáticos</title>

        <meta charset="utf-8"/>
        <meta name="author" content="CR Galaticos">
        <meta name="description" content="Organization of CR Galaticos Master League">

        <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    </head>

    <body>
        <section class="menu">
            <img class="menu__logo" src="" />
            <ul class="menu__items">
                <li>Home</li>
                <li>Jogadores</li>
                <li>Times</li>
                <li>Resultados</li>
            </ul>
        </section>

        <section class="present">
            <h1>Aqui entra a foto de apresentação em parallax</h1>
        </section>

        <section class="main-content">
            <h1>CR Galaticos - Master League</h1>
        </section>

        <section class="footer">
            <h1>Aqui o rodapé</h1>
        </section>
    </body>
</html>